{% extends "MusicPost/base.html" %}
 
{% block content  %} 


 <div id='content2' class='row-fluid'>
      <div class='span9 main'>
        <h2>About Section: </h2>
        <Strong> I made this site to learn Django and decided to share it with my friends. </Strong>
        
        
      </div>
      <div class='span3 sidebar'>
        <h2>Links</h2>
        <ul class="nav nav-tabs nav-stacked">
        <li><a href='http://www.youtube.com'>Youtube</a></li>
        <li><a href='http://www.rdio.com'>RDIO</a></li>
        <li><a href='http://www.facebook.com'>Facebook</a></li>
        </ul>
      </div>
    </div>
</div>

{% endblock  %} 