{% extends "MusicPost/base.html" %}

{% block content %}

   
        {% if user.is_authenticated %}
             <li class="navbar-text">Welcome, {{ user.username }}!</li>
    
        <div id='Postcontent' class='row-fluid'>
        <div class="jumbotron">
        

        <style type='text/css'>
        #Postcontent {
        background-color: 	#CACACC;
        border:2px solid #000000;
        border-radius:10px;
        margin: 10px;
        }   
        </style>
        
        {% for x in list %} 
            <p> {{x}} </p>    
        
        {% endfor %}
        
         
                
        </div>
        </div>
        <br>
        
        <div id='text' class='row-fluid'>
        <form id="submit_Button" method="post" action="">
        {% csrf_token %}
        <textarea class="field span7 " name="mytextbox" rows ="5" ></textarea>
        <button type="submit" class="btn btn-default" name="mybtn" style="width: 100px; height: 30px" "margin-left: 10px;" >Post</button>
        
       
        </form>
        
        
        <style type='text/css'>
        
        textarea {
            resize: none;
            border:2px solid #000000;
            
        }
        #text {
            margin: 15px;
            
        }
        
        
        </style>
        </div
        <br>
        
     
    
    </div>
    
    {% else %}
    
    <head>
        
    <meta HTTP-EQUIV="REFRESH" content="0; login">
    </head>
    
    {% endif %}

 
{% endblock %}