{% extends "MusicPost/base.html" %}
{% load static %}


{% block content %}

{% if not user.is_authenticated %}
 

    
    <center>
        <div class="login-form">
            <h1>Login to Music Post</h1>

            <form id="login_form" method="post" action="">
                {% csrf_token %}
                Username: <input type="text" name="username" value="" size="50" />
                <br />
                Password: <input type="password" name="password" value="" size="50" />
                <br />

                <input type="submit" value="Submit" />
            </form>
          
          
       
    </div>
    </center>
    
    {% else %}
    <h2> You are already logged in </h2>
    {% endif %}

{% endblock %}